{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'venerable.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'venerable.png' %}" width="170px" alt="">
        <h2>Control de inventario</h2>
    </header>

    <div class="seccion" style="background-color: rgb(44, 44, 49);; height: 100%; width: 100%; margin-top: 2%;">
        
        {% for i in articulos %}
            <div class="item" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; color: white; font-weight: bold; text-align: center; display: flex; justify-content: space-evenly;">
                <span>{{ i.nombre}} </span> 
                <span>{{ i.cantidad}} unid </span>
                <span>{{ i.precio}} $ </span>
            </div>
        {% endfor  %}
    </div>

    <script src="{% static 'app.js' %}"></script>
</body>
</html>