{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'venerable.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'venerable.png' %}" width="170px" alt="">
        <h2>Control de inventario</h2>
    </header>
    
    <div class="seccion" style="background-color: rgb(44, 44, 49);; height: 100%; width: 100%; margin-top: 2%;">
        <div class="item" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; color: white; font-weight: bold; text-align: center; display: flex; justify-content: space-evenly;"></div>
        
        <table style="font-weight: bold; color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;">
            <tr>
                <td>Fecha</td>
                <td>Nombre</td>
                <td>Cantidad vendida</td>
                <td>Ganancia</td>
            </tr>

        
        {% for i in ventas %}
        <tr>
            <td><span>{{ i.fecha }} </span> </td>
            <td><span>{{ i.nombre_articulo_vendido}} </span></td>
            <td><span>{{ i.unidades_vendidas}} unid </span></td>
            {% if i.moneda %}
            <td><span>{{ i.ganancia}} $</span></td>
            {% else %}
            <td><span>{{ i.ganancia}} bs </span> </td>
            {% endif %}
        </tr>
        {% endfor  %}
        </div>
    </table>
    </div>
    <div class="cita" style="display: flex; flex-direction: column; align-items: center;">
        <h2>"Un hombre auténtico tiene como ideal moral hacer el bien" - Dr. José Gregorio Hernandez</h2>
        <h4 style="color: white; margin-top: 2%; cursor: default;">Desarrollado por Fidel Serpa</h4>
    </div>

    <script src="{% static 'app.js' %}"></script>
</body>
</html>