*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h2{
    color: aliceblue;
    cursor: default;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: black;
}

img{
    width: 10%;
}


td{
    background-color: black;
    padding: 15px;
}

table{
    margin: auto;
}
.menu{
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(44, 44, 49);
}
a{
    margin: auto;
    outline: none;
}

button{
    width: 16vw;
    height: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: white;

    box-shadow:  inset 0 0 0 0 black;
    font-size: 1rem;
    transition: ease-out 0.4s;
    outline: none;
    border: none;
    position: relative;
}

button:hover{
    box-shadow: inset 16vw 0 0 0.01px black;
    color: white;
}


#registrar{

    display: none;
}

#agregar{
    display: none;
}

.item-form{
    /* margin: 10% auto;*/
    margin:4% auto;
    display: flex;
    height: 40px;
    justify-content: center;
 
 }

input{
    font-size: 15px;
}

.item-form button{
    height: 30px;
}


.cita{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.cita h2{
    font-size: 1rem;
}

